#main_button{
	position: fixed;
	width: 350px;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: #a50080;
	border:0px;
	color: white;
	font-weight: bold;
	cursor: pointer;	
	z-index: 200;
}

#main_button:hover{

}